/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  background-color: var(--bg-color);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Global variables */
:root {
  --bg-color: #111;
  --bg-secondary-color: #23272A;
  --font-color: #E6E6E6;
  --font-secondary-color: #B9B9B9;
  --accent-color: #FF6B6B;
  --extra-color: #A7FF83;
}

h1 {
  font-size: 8rem;
  font-weight: 700;
  margin-bottom: 1rem;
  font-weight: 700;
}

section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.accent-text {
  color: var(--accent-color);
}

.accent-text-extra {
  color: var(--extra-color);
}

span:hover {
  transform: translateY(-10px);
  color: var(--extra-color);
}

span.accent-text-extra:hover {
  color: var(--accent-color);
}

/* Fonts */
/* For headings */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
}

/* For body text */
body {
  font-family: 'Lato', sans-serif;
  color: var(--font-color);
}

/* Left aside */
.left-menu {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  box-sizing: border-box;
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.logo-img {
  max-width: 100%;
  width: 50%;
  margin-top: 2rem;
  color: var(--font-color);
}

.external-links ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.external-links a {
  color: var(--font-color);
  text-decoration: none;
  font-size: 1.5rem;
  transition: color 0.3s ease-in-out;
  font-size: 1.2rem;
  padding: 1.2rem;
  transition: transform 0.3s;
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.external-links a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: var(--extra-color);
  transition: width 0.3s;
}

.external-links a:hover::after {
  width: 100%;
}

.external-links a:hover {
  color: var(--extra-color);
  transform: scale(1.1);
}

/* Hero section */

.hero-content {
  width: 50%;
  text-align: center;
}

section h2 {
  color: var(--font-secondary-color);
}

.hero-content h1 span {
  display: inline-block;
  transition: transform 0.3s;
}

@keyframes wiggle {
  0% { transform: translateY(-10px) rotate(0deg); }
  25% { transform: translateY(-10px) rotate(-5deg); }
  50% { transform: translateY(-10px) rotate(5deg); }
  75% { transform: translateY(-10px) rotate(-5deg); }
  100% { transform: translateY(-10px) rotate(0deg); }
}

h1 span:hover {
  animation: wiggle 0.5s infinite;
}

span:hover {
  transform: translateY(-10px) rotateX(45deg);
}

/* About me section */
.about-me, .skills-and-tools {
  flex-direction: column;
}

section h2 {
  color: var(--font-secondary-color);
  letter-spacing: 0.2rem;
}

.about-me p {
  margin-top: 0.5rem;
  width: 80%;
  font-size: 5rem;
}

.about-me span {
  display: inline-block;
  transition: all 0.3s;
}


/* Skills */
.skills-and-tools h2 {
  margin-bottom: 2rem;
}

.skills-grid {
  display: flex;
  width: 80%;
  --s: 100px;  /* size  */
  --m: 4px;    /* margin */
  --f: calc(var(--s) * 1.732 + 4 * var(--m) - 1px);
}

.container {
  font-size: 0;
}

.container div {
  width: var(--s);
  margin: var(--m);
  height: calc(var(--s) * 1.1547);
  display: inline-block;
  font-size:initial;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  margin-bottom: calc(var(--m) - var(--s) * 0.2885);
  background-size: cover;
  background-position: center;
}

.container div:nth-child(1) {
  background-image: url('/assets/skills/ruby.png');
}

.container div:nth-child(2) {
  background-image: url('/assets/skills/rails.png');
}

.container div:nth-child(3) {
  background-image: url('/assets/skills/html5.png');
}

.container div:nth-child(4) {
  background-image: url('/assets/skills/css3.png');
}

.container div:nth-child(5) {
  background-image: url('/assets/skills/javascript.png');
}

.container div:nth-child(6) {
  background-image: url('/assets/skills/vscode.png');
}

.container div:nth-child(7) {
  background-image: url('/assets/skills/postman.png');
}

.container div:nth-child(8) {
  background-image: url('/assets/skills/git.png');
}

.container::before {
  content: "";
  width: calc(var(--s) / 2 + var(--m));
  float: left;
  height: 120%;
  shape-outside: repeating-linear-gradient(#0000 0 calc(var(--f) - 3px), #000 0 var(--f));
}

/* Media breakpoints */
/* Extra Small Devices */
@media (max-width: 576px) {
  .hero-content {
    width: 80%;
  }

  h1 {
    font-size: 4rem;
  }

  .about-me p {
    font-size: 2rem;
  }
}

/* Small and Medium Devices */
@media (min-width: 577px) and (max-width: 992px) {
  h1 {
    font-size: 5rem;
  }

  .about-me p {
    font-size: 3rem;
  }
}

/* Large and Extra Large Devices */
@media (min-width: 1000px) {
  .skills-grid {
    --s: 200px;  /* size  */
    --m: 4px;    /* margin */
    --f: calc(var(--s) * 1.732 + 4 * var(--m) - 1px);
  }

  .container div {
    filter: grayscale(100%);
    transition: filter 0.3s;
  }

  .container div:hover, .container div:focus {
    filter: grayscale(0%);
  }
}
